@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-instrument-sans), sans-serif;
}

h1,
h2 {
  font-family: var(--font-faustina);
}

.border-gradient {
  position: relative;
  color: #fff;
  background: #000;
  border: solid 0px transparent;
  border-radius: 10px;
}

.border-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(
    to right,
    rgba(248, 87, 166, 1),
    rgba(255, 88, 88, 1)
  );
}

.nav-line::before,
.nav-line::after {
  content: "";
  display: block;
  width: 23px;
  height: 2.5px;
  background: white;
  border-radius: 8px;
  margin-bottom: 1px;
  transition: 0.4s;
}

.barActive {
  opacity: 0;
}

.nav-line.active::before {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.nav-line.active::after {
  transform: rotate(45deg) translate(-4px, -5px);
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

@layer components {
  .gradient {
    @apply bg-clip-text text-transparent font-bold bg-gradient-to-r from-[#F857A6] from-20% via-pink-500 via-30% to-[#FF5858] to-100%;
  }

  .bg-gradient {
    @apply bg-gradient-to-r from-[#F857A6] from-0% to-[#FF5858] to-100%;
  }
}
